@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body,
html {
  margin: 0;
  height: 100%;
  font-family: "Inria Sans", sans-serif;
  background: rgb(27 27 28);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(27 27 28);
  height: 100vh;
}
.signin-container-left {
  background-image: url('../../Assets/15000134_5557528.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  margin: 15px 30px;
  padding: 25px 50px;
  width: 100%;
  text-align: left;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
}
.signin-container-left h1{
    margin-top: 142px;
    font-size: calc(clamp(2.5rem, 2.013vw + 1.209rem, 3.625rem));
}
.signin-container-left p{
    font-size: clamp(1rem, 0.8804rem + 0.5797vw, 1.75rem);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  gap: 25px;
  margin-bottom: 109px;
}

.button-google{

        padding: 16px 36px;
        font-size: calc(clamp(0.75rem, 1.342vw - 0.111rem, 1.5rem));
        border: 1px solid white;
        background-color: #00000080;
        color: white;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
}

.signin-container-right {
  width: 130%;
  text-align: left;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  @media (max-width: 1920px){

    .signin-container-left {
      margin: 60px;
      width: 90%;
  }
  .signin-container-right {
    width: 100%;
  }
  .f-name{
    width: 80%;
  }
  }
@media (max-width: 1440px){
.container{
  padding: 0
}
}
@media (max-width: 1280px){
  .container{
    padding: 0
  }
}
@media (max-width: 1024px){
  .buttons {
    
    margin-bottom: 56px;
  }
  .button-google{
    padding: 18px 13px;
  }
  .container{
    padding: 0
  }
}
@media (max-width: 991px){
  .signin-container-left {
    margin: 30px;
}
.f-name{
  margin-right: 45px;
}
.container{
  padding: 0
}
}
@media (max-width: 767px){}
@media (max-width: 667px){}
@media (max-width: 480px){}
@media (max-width: 360px){}
