:root {
  --first-color: #ffffff;
  --first-color-light: #5a595c;
  --second-color-light: #84818b;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 70px;
  background-color:  #fff;
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.header_toggle img {
  /* width: 99%; */
  scale: 0.65;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;
}
.body-pd .header_img {
  margin-right: 88px;
}
.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 70px;
  height: 100vh;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
  background: #fff;
  /* -webkit-box-shadow: inset 28px 3px 46px -35px rgba(27,27,28,1);
-moz-box-shadow: inset 28px 3px 46px -35px rgba(27,27,28,1);
box-shadow: inset 28px 3px 46px -35px rgba(27,27,28,1); */
}

.nav {
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.nav_name {
  color: black;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 10px;
  color: white;
}
.nav_option :hover {
  background-color: #565558;
  border-radius: 5px 50px 50px 5px;
}
.nav_logo {
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
}

.logo-img {
  display: none;
  width: 70%;
}

.active {
  display: block;
}
.active-1 {
  display: block;
}
.nav_logo-name {
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 15px;
  transition: 0.3s;
  display: flex;
  font-size: 18px;
}

.nav_link:hover {
  color: var(--second-color-light);
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
  width: 200px;
}

.body-pd {
  padding-left: 200px;
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #ffffff;
}
.active-1 {
  color: var(--white-color);
}

.active-1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 21%;
  width: 2px;
  height: 32px;
  background-color: #ffffff;
}
.height-100 {
  height: 100vh;
}
.inner {
  background-color: rgb(27 27 28);
  color: white;
}

.side-icons {
  pointer-events: none;
  font-size: 31px;
  color: black;
}

.body-class {
  transition: 0.5s;
}

.navbar-search {
  display: flex;
  width: 100%;
  align-items: center;
}
.l-navbar {
  left: 0;
  padding: 1rem 1rem 0 0;
}


/* Navbar */
.header-nav ul {
  list-style: none;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}
.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}
.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
  display: flex;
  align-items: center;
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}
.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu-custom {
  position: relative;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 200px;
  z-index: 1000;
  margin-top: 18px;
  cursor: pointer;
}

/* Show dropdown on hover */
.nav-item:hover .dropdown-menu {
  display: block;
}

/* Dropdown item styling */
.dropdown-item {
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: black;
}

.dropdown-divider {
  border-top: 1px solid #ddd;
}
.dropdown-padding {
  padding-top: 30px;
  position: absolute;
  top: 0;
  cursor: pointer;
  left: -67px;
}

:root {
  --hue: 223;
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.6s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
}

body {
  background-color:  #fff;
  color: black;
  transition: background-color var(--trans-dur), color var(--trans-dur);
  position: relative;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body:has(.switch__input:checked) {
  background-color: rgb(27 27 28);
  color: hsl(var(--hue), 10%, 90%);
}


.header:has(.switch__input:checked) {
  background-color: #1b1b1c;
  border-bottom: #fff;
}

.switch,
.switch__input {
  display: block;
  -webkit-tap-highlight-color: transparent;
}
.switch {
  margin: auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 22px;
}
.switch__icon {
  color: hsla(var(--hue), 10%, 80%);
  pointer-events: none;
  position: absolute;
  top: 0.375em;
  left: 0.375em;
  width: 0.75em;
  height: 0.75em;
  transition: color var(--trans-dur),
    transform var(--trans-dur) var(--trans-timing);
}
.switch__icon:nth-of-type(2) {
  right: 0.375em;
  left: auto;
}
.switch__inner,
.switch__inner-icons {
  border-radius: 0.5em;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  width: 2.25em;
  height: 1em;
}
.switch__inner:before,
.switch__inner-icons {
  transition: transform var(--trans-dur) var(--trans-timing);
  transform: translateX(-1.25em);
}
.switch__inner:before {
  background-color: hsl(110.08deg 54.8% 45.78%);
  border-radius: inherit;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.switch__inner-icons {
  pointer-events: none;
}
.switch__inner-icons .switch__icon {
  color: hsl(0, 0%, 100%);
  top: 0.125em;
  left: 0.125em;
  transform: translateX(1.25em);
}
.switch__inner-icons .switch__icon:nth-child(2) {
  right: 0.125em;
  left: auto;
}
.switch__input {
  background-color: rgb(27 27 28);
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.0625em hsla(var(--hue), 90%, 50%, 0),
    0 0.125em 0.5em hsla(var(--hue), 10%, 10%, 0.1);
  outline: 1px solid #313131;
  width: 2.75em;
  height: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur);
}
.switch__input:checked {
  background-color: #fff;
}
.switch__input:checked ~ .switch__icon {
  color: hsla(var(--hue), 10%, 40%);
}
.switch__input:checked ~ .switch__inner:before,
.switch__input:checked ~ .switch__inner-icons {
  transform: translateX(1.25em);
}
.switch__input:not(:checked) ~ .switch__icon:first-of-type,
.switch__input:checked ~ .switch__icon:nth-of-type(2) {
  transform: rotate(360deg);
}
.switch__input:checked ~ .switch__inner-icons .switch__icon:first-of-type {
  transform: translateX(-1.25em) rotate(-360deg);
}
.switch__input:checked ~ .switch__inner-icons .switch__icon:nth-of-type(2) {
  transform: translateX(-1.25em) rotate(360deg);
}
.switch__input:focus-visible {
  box-shadow: 0 0 0 0.0625em hsla(var(--hue), 90%, 50%, 1),
    0 0.125em 0.5em hsla(var(--hue), 10%, 10%, 0.1);
}
.switch__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
