.container-forgot {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(27 27 28);
    /* background: linear-gradient(90deg, rgba(6,15,48,1) 0%, rgba(56,48,131,1) 45%, rgba(21,53,109,1) 100%); */
    height: 100vh;
}

.inner-box {
    padding: 30px 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    border-radius: 20px;
    position: relative;
}
.close-window {
    position: absolute;
    right: 0;
    font-size: 25px;
    cursor: pointer;
}

.close-window img {
    width: 44%;
}
.inner-box h1{
    font-size: clamp(1.75rem, 1.5109rem + 1.1594vw, 3.25rem);
}

.inner-box p{
    font-size: clamp(0.75rem, 0.6504rem + 0.4831vw, 1.375rem);
}
.inner-box input {
    margin: 20px;
    height: 30px;
    background: #1b1b1cd4;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    width: 90%;
    font-size: 12px;
    padding: 10px 20px;
}

  .inner-box input::placeholder {
    color: rgb(240 240 240); /* Placeholder text color */
  }
  
  .inner-box input:focus {
    outline: none;
    background: rgb(240 240 240);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    color: #1b1b1c;
}
  .reset-button {
    margin-bottom: 20px;
  }

  .reset-button button {
    padding: 20px 55px;
    font-size: calc(clamp(0.75rem, 0.447vw + 0.463rem, 1rem));
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    border: none;
  }
  
  .reset-button button:hover{
    background: rgb(51 51 52);
    color: white;
    transform: scale(1.02);
}
@media (max-width: 480px){
  .close-window{
    right: -21px;
    top: 21px;
  }
}